.node-red/mail-scanner
[{"id":"797c9c92.cb43e4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"71c017c2.d72998","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e8372885.cb2c98","type":"mqtt-broker","z":"","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fec7807.8f0f48","type":"ui_group","z":"","name":"Default","tab":"aa3bf31e.d9315","disp":true,"width":"6","collapse":false},{"id":"aa3bf31e.d9315","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e495ab70.ea9568","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5d1834f1.548e9c","type":"ui_group","z":"","name":"Button1","tab":"aa3bf31e.d9315","disp":true,"width":"6","collapse":false},{"id":"8ee3fa77.5f9668","type":"google-cloud-credentials","z":"","name":"'keys.json'"},{"id":"e740ad70.43c9e","type":"mqtt in","z":"797c9c92.cb43e4","name":"","topic":"home/nodered","qos":"2","datatype":"auto","broker":"e8372885.cb2c98","x":140,"y":140,"wires":[["71976bf9.3ea194","af61a685.d2e6a8"]]},{"id":"71976bf9.3ea194","type":"function","z":"797c9c92.cb43e4","name":"Parsing Message Function","func":"var message = msg.payload;\n\nvar strArray = message.split(\" \");\n\n    var name = strArray[0];\n    msg.name = name;\n\n    var address = strArray[1];\n    msg.address = address;\n\n    var postal = strArray[2];\n    msg.postal = postal;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["83c481f2.3eb28","e697b524.891418","33efb0a1.03e7c"]]},{"id":"bd497c78.9ea29","type":"inject","z":"797c9c92.cb43e4","name":"","topic":"it is wayyyy too early","payload":"newhacks2020","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":40,"wires":[["71976bf9.3ea194","e697b524.891418"]]},{"id":"5fd4e284.cb19fc","type":"inject","z":"797c9c92.cb43e4","name":"","topic":"","payload":"MARYJONES 201PKY CITY,GA30269","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["83c481f2.3eb28","71976bf9.3ea194"]]},{"id":"83c481f2.3eb28","type":"debug","z":"797c9c92.cb43e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":560,"wires":[]},{"id":"af61a685.d2e6a8","type":"debug","z":"797c9c92.cb43e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":90,"y":240,"wires":[]},{"id":"33efb0a1.03e7c","type":"uibuilder","z":"797c9c92.cb43e4","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":700,"y":40,"wires":[[],["83c481f2.3eb28"]]},{"id":"e697b524.891418","type":"uibuilder","z":"797c9c92.cb43e4","name":"","topic":"","url":"test","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":490,"y":60,"wires":[[],[]]},{"id":"4a132377.54b21c","type":"google-cloud-gcs-read","z":"797c9c92.cb43e4","account":"8ee3fa77.5f9668","keyFilename":"","filename":"","list":false,"name":"","x":80,"y":420,"wires":[[]]}]